body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F3F7;
    margin: 0;
    padding: 0;
}

#basal-metabolic-rate {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

#basal-metabolic-rate img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#basal-metabolic-rate form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#basal-metabolic-rate form p {
    margin-bottom: 10px;
}

#basal-metabolic-rate form button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bmr-result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.bmr-result p {
    margin: 0;
    padding: 0;
}
