{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'admin_panel_app/upload_food_information.css' %}">
{% endblock %}

{% block title %} Upload Information {% endblock %}

{% block content %}

  <div id="upload-food-information">
    <h3><b>Upload food information to the database from csv file</b></h3>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ food_form.file }}
      <br>
      {% if food_form.file.errors %}
        <div class="alert alert-danger">
          {{ food_form.errors }}
        </div>
      {% endif %}
      <button class="btn btn-primary food_add_button" type="submit" name="food_submit">Upload</button>
    </form>
  </div>

  <div id="upload-quotes">
    <h3><b>Upload quotes to the database from csv file</b></h3>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ quotes_form.file }}
      <br>
      {% if quotes_form.file.errors %}
        <div class="alert alert-danger">
          {{ quotes_form.file.errors }}
        </div>
      {% endif %}
      <button class="btn btn-primary quotes_add_button" type="submit" name="quotes_submit">Upload</button>
    </form>
  </div>

  <div  class="count__information">
    <h3><b>Information from database</b></h3>
    <p>Number of registered users: {{ count_users }}</p>
    <p>Number of information about meals: {{ count_meals }}</p>
    <p>Number of information about products: {{ count_products }}</p>
    <p>Number of information about eaten foods: {{ count_food }}</p>
    <p>Number of information about name and surname: {{ count_user_information }}</p>
    <p>Number of information about tags: {{ count_tag }}</p>
    <p>Number of information about posts: {{ count_post }}</p>
    <p>Number of information about comments: {{ count_comment }}</p>
    <p>Number of information about authors: {{ count_author }}</p>
    <p>Number of information about quotes: {{ count_quotes }}</p>

  </div>

  <div class="most_common_meal_counter">
    <h3>Most common meals</h3>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Meal</th>
          <th>Usage</th>
        </tr>
      </thead>
      {% for rank, meal in top_10_meals_position %}
      <tbody>
        <tr>
          <th>{{ rank }}</th>
          <th>{{ meal.then_eaten }}</th>
          <th>{{ meal.count }}</th>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <div class="top_commentators_from_user">
    <h3>Users by comments</h3>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">How many posts</th>
      </tr>
      </thead>
      <tbody>
      {% for rank, user_comment in user_comments_count  %}
        <tr>
          <th>{{ rank }}</th>
          <th>{{ user_comment.user_name }} </th>
          <th>{{ user_comment.count }}</th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="most_used_tags">
    <h3>Most used tags</h3>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Tag</th>
        <th>Usage</th>
      </tr>
      </thead>
      <tbody>
      {% for tag, count in tag_usage.items %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <th>{{ tag }}</th>
          <th>{{ count }}</th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
