body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#delete-body-volumes {
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#delete-body-volumes h1 {
    text-align: center;
    color: #4a4a4a;
    font-size: 2em;
}

#delete-body-volumes p {
    text-align: center;
    color: #333;
    font-size: 1.2em;
    margin: 20px 0;
}

#delete-body-volumes form {
    text-align: center;
}

#delete-body-volumes form input[type="submit"] {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#delete-body-volumes form input[type="submit"]:hover {
    background-color: #c82333;
}

#delete-body-volumes a {
    display: block;
    width: max-content;
    margin: 20px auto;
    padding: 10px 20px;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#delete-body-volumes a:hover {
    background-color: #007bff;
    color: #ffffff;
}
