{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'tools_app/calculation_bmi.css' %}">
{% endblock %}

{% block title %}
  Calculation Tools
{% endblock %}

{% block content %}
  <div class="bmi-calculator">
    <img src="{% static 'images/bmi_calculator.jpg' %}" alt="bmi_calculator">
    <form action="" method="post">
      {% csrf_token %}
      <p>Height: {{ form.height_cm }} cm. </p>
      <p>Weight: {{ form.weight_kg }} kg. </p>
      <button type="submit">Calculate</button>
    </form>
    <div class="result">
      {% if bmi_result %}
        <p>Your BMI is: {{ bmi_result|safe }}</p>
      {% elif error_message %}
        <p>{{ error_message }}</p>
      {% endif %}
    </div>
    
  <div class="bmi-table">
    <table>
      <thead>
        <tr>
          <th>Underweight</th>
          <th>Healthy</th>
          <th>Overweight</th>
          <th>Obese</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>< 18.5</th>
          <th>18.5 - 25.0</th>
          <th>25.0 - 29.9</th>
          <th>> 29.9</th>
        </tr>
      </tbody>
    </table>
  </div>
  
  </div>
{% endblock %}
