#login-page {
    max-width: 600px;
    margin: auto;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f6f6;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #37378d;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#error-message {
    color: red;
    margin-top: 10px;
}
