{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'create_user/register.css' %}">
{% endblock %}

{% block title %}
  Registration
{% endblock %}

{% block content %}
  <div id="registration-page">
    <form action="" method="post">
      {% csrf_token %}
      <h1>Sign Up</h1>

      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
      </div>

      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
      </div>

      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
      </div>

      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
      </div>

      <input type="submit" value="Register" class="btn btn-primary">
    </form>
  </div>

{% endblock %}
