{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_counter/food.css' %}">
{% endblock %}

{% block title %} Delete Food {% endblock %}

{% block content %}
  <div id="food-delete">
    <h1>Delete Food</h1>

    <p>Are you sure you want to delete "{{ object.food_name }}"?</p>

    <form method="post">
      {% csrf_token %}
      <input type="submit" value="Confirm Delete">
    </form>

    <a href="{% url 'foods' %}">Cancel</a>

  </div>
{% endblock %}
