{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'calories_counter/food.css' %}">
{% endblock %}

{% block title %} Food {% endblock %}

{% block content %}
    <div id="user-food">
        <h1>Foods I ate to achieve results</h1>
        <div class="button-container">
          <a href="{% url 'food_create' %}" class="btn btn-primary food_add_button add_food_button">Add Food</a>
        </div>
        {% for date, foods, totals in foods_by_date %}
            <h2><b>{{ date|date:"Y-m-d" }}</b></h2>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Food name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbs</th>
                    <th>Weight Measure (grams)</th>
                    <th>Then eaten</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for food in foods %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th>{{ food.food_name|capfirst }}</th>
                        <th>{{ food.calories }}</th>
                        <th>{{ food.protein }}</th>
                        <th>{{ food.fat }}</th>
                        <th>{{ food.carbs }}</th>
                        <th>{{ food.weight_measure }} g.</th>
                        <th>{{ food.meal.then_eaten|capfirst }}</th>
                        <th>
                            <a href="{% url 'food_update' food.id %}">Update</a>
                            <a href="{% url 'food_delete' food.id %}">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col" colspan="2">Total</th>
                    <th scope="col">{{ totals.total_calories }}</th>
                    <th scope="col">{{ totals.total_protein }}</th>
                    <th scope="col">{{ totals.total_fat }}</th>
                    <th scope="col">{{ totals.total_carbs }}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col" colspan="2">Percentage</th>
                    <th scope="col"></th>
                    <th scope="col">{{ totals.protein_percentage|floatformat:2 }}%</th>
                    <th scope="col">{{ totals.fat_percentage|floatformat:2 }}%</th>
                    <th scope="col">{{ totals.carbs_percentage|floatformat:2 }}%</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </tfoot>
            </table>
        {% endfor %}



    </div>
{% endblock %}
