{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "calories_counter/meal.css" %}">
{% endblock %}

{% block title%} Meal View {% endblock %}

{% block content %}
  <div id="user-meal-view">
    <h1>Meal View</h1>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Meal</th>
        </tr>
      </thead>
      {% for meal in meals %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <th>{{ meal.meal_name }}</th>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
