{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_counter/meal_food_create.css' %}">
{% endblock %}

{% block title %}
  Food - Meal creation
{% endblock %}

{% block content %}
  <div id="meal-food-create">
    <h1>Food - Meal creation</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Add (Meal - Food)</button>
    </form>
  </div>
{% endblock %}