{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_counter/start_page.css' %}">
{% endblock %}

{% block title %}
  Calories start page
{% endblock %}

{% block content %}
    <div id="start-page" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ random_image }}') no-repeat center center/cover;">
      {% if request.user.is_authenticated %}
      <h1>Hello {{ request.user.username | title }} remember this quote and start your day with it </h1>
      {% endif %}
      {% for quote in quotes %}
        <div class="quote">
          <h1>{{ quote.author }}</h1>
          <h2>{{ quote.quote }}</h2>
        </div>
      {% endfor %}

{#      <img src="{% static '/images/calories.jpg'  %}" alt="img">#}
    </div>

{% endblock %}
