{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'calories_counter/user_information.css' %}">
{% endblock %}

{% block title %} 👤 User Information {% endblock %}

{% block content %}
  <div class="tables-container">

    <div id="user_information">
        <h1><b>User information</b></h1>
        <table class="table table-hover table-dark">
            <tbody>
                <tr>
                    <td><b>First name:</b></td>
                    <td>{{ user_information.first_name }}</td>
                </tr>
                <tr>
                    <td><b>Last name:</b></td>
                    <td>{{ user_information.last_name }}</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>{{ user_information.email }}</td>
                </tr>
                <tr>
                    <td><b>Age:</b></td>
                    {% if user_information.age != None %}
                        <td>{{ user_information.age }} years</td>
                    {% else %}
                        <td>{{ user_information.age }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Height:</b></td>
                    {% if user_information.height != None %}
                    <td>{{ user_information.height }} cm</td>
                    {% else %}
                    <td>{{ user_information.weight }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Weight:</b></td>
                    {%  if user_information.weight != None %}
                    <td>{{ user_information.weight }} kg</td>
                    {% else %}
                    <td>{{ user_information.weight }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Gender:</b></td>
                    {% if user_information.gender == 'male' %}
                        <td>{{ user_information.gender|capfirst }} ️️♂️</td>
                        {% elif user_information.gender == 'female' %}
                        <td>{{ user_information.gender|capfirst }} ♀️</td>
                        {% else %}
                        <td>{{ user_information.gender|capfirst }} </td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>BMI:</b></td>
                    <td>{{ user_information.bmi_counter|safe }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'update_user_information' %}" class="btn btn-primary update_information_button">Update User Information 👤</a>
        <br>
        <br>
        {% if user_information.first_name == None %}
        <a href="{% url 'create_user_information' %}" class="btn btn-primary add_information_button">Add User Information 👤</a>
        {% endif %}
    </div>

    <div class="body__volumes">
      <h1><b>Body Volumes</b></h1>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Neck</th>
            <th>Chest</th>
            <th>Waist</th>
            <th>Left Bicep</th>
            <th>Right Bicep</th>
            <th>Left Forearm</th>
            <th>Right Forearm</th>
            <th>Left Thigh</th>
            <th>Right Thigh</th>
            <th>Left Calf</th>
            <th>Right Calf</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for measurements in body_volumes %}
          <tr>
            <th>{{ forloop.counter}}</th>
            <th>{{ measurements.date|date:'Y-m-d' }} </th>
            <th>{{ measurements.neck_size }} cm.</th>
            <th>{{ measurements.chest_size }} cm.</th>
            <th>{{ measurements.waist_size }} cm.</th>
            <th>{{ measurements.left_bicep_size }} cm.</th>
            <th>{{ measurements.right_bicep_size }} cm.</th>
            <th>{{ measurements.left_forearm_size }} cm.</th>
            <th>{{ measurements.right_forearm_size }} cm.</th>
            <th>{{ measurements.left_thigh_size }} cm.</th>
            <th>{{ measurements.right_thigh_size }} cm.</th>
            <th>{{ measurements.left_calf_size }} cm.</th>
            <th>{{ measurements.right_calf_size }} cm.</th>
            <th>
              <a class="update-link" href="{% url 'update_body_volumes' measurements.id %}">Update</a>
              <a class="delete-link" href="{% url 'delete_body_volumes' measurements.id %}">Delete</a>
            </th>
          </tr>
            {% endfor %}
        </tbody>
      </table>

      <div class="pagination_measurements">
        <span class="step-links">
            {% if body_volumes.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ body_volumes.previous_page_number }}">previous</a>
            {% endif %}

          <span class="current">
                Page {{ body_volumes.number }} of {{ body_volumes.paginator.num_pages }}.
            </span>

          {% if body_volumes.has_next %}
            <a href="?page={{ body_volumes.next_page_number }}">next</a>
            <a href="?page={{ body_volumes.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

      <a type="button" class="btn btn-primary add__body__volumes_anchor_tag" href="{% url 'create_body_volumes' %}">Add Body Volumes</a>

      <div class="weight-table-view">

        <h2>Weight History:</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Update weight</button>
        </form>

        <div class="updated-user-weight">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for history in weight_histories %}
              <tr>
                <th>{{ forloop.counter}}</th>
                <th>{{ history.date|date:'Y-m-d' }} </th>
                <th>{{ history.weight }} kg.</th>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

      <div class="pagination-weight-history">
        <span class="step-links">
            {% if weight_histories.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ weight_histories.previous_page_number }}">previous</a>
            {% endif %}

          <span class="current">
                Page {{ weight_histories.number }} of {{ weight_histories.paginator.num_pages }}.
            </span>

          {% if weight_histories.has_next %}
            <a href="?page={{ weight_histories.next_page_number }}">next</a>
            <a href="?page={{ weight_histories.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

    </div>

  </div>
{% endblock %}
