{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'calories_counter/user_information.css' %}">
{% endblock %}

{% block title %} 👤 User Information {% endblock %}

{% block content %}

    <div id="user_information">
        <h1><b>User information</b></h1>
        <table class="table table-hover table-dark">
            <tbody>
                <tr>
                    <td><b>First name:</b></td>
                    <td>{{ user_information.first_name }}</td>
                </tr>
                <tr>
                    <td><b>Last name:</b></td>
                    <td>{{ user_information.last_name }}</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>{{ user_information.email }}</td>
                </tr>
                <tr>
                    <td><b>Age:</b></td>
                    {% if user_information.age != None %}
                        <td>{{ user_information.age }} years</td>
                    {% else %}
                        <td>{{ user_information.age }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Height:</b></td>
                    {% if user_information.height != None %}
                    <td>{{ user_information.height }} cm</td>
                    {% else %}
                    <td>{{ user_information.weight }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Weight:</b></td>
                    {%  if user_information.weight != None %}
                    <td>{{ user_information.weight }} kg</td>
                    {% else %}
                    <td>{{ user_information.weight }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Gender:</b></td>
                    {% if user_information.gender == 'male' %}
                        <td>{{ user_information.gender|capfirst }} ️️♂️</td>
                        {% elif user_information.gender == 'female' %}
                        <td>{{ user_information.gender|capfirst }} ♀️</td>
                        {% else %}
                        <td>{{ user_information.gender|capfirst }} </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <a href="{% url 'update_user_information' %}" class="btn btn-primary update_information_button">Update User Information 👤</a>
        {% if user_information.first_name == None %}
        <a href="{% url 'create_user_information' %}" class="btn btn-primary add_information_button">Add User Information 👤</a>
        {% endif %}
    </div>

{% endblock %}
