{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'create_user/login.css' %}">
{% endblock %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div id="login-page">
    <form action="" method="post" novalidate>
      {% csrf_token %}
      <h2>Login</h2>
      <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
      </div>
      <div>
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
{% endblock %}
