{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'calories_blog/all-posts.css' %}">
{% endblock %}

{% block title %} All my posts {% endblock %}

{% block content %}
  <div>
    <section id="all-posts">
      <h2><a href="{% url 'start_page_cal' %}">My Meals</a></h2>
      <li>
        <article>
          {% for post in all_posts %}
            {% include "calories_blog/includes/post.html" %}
          {% endfor %}
        </article>
      </li>

    </section>
  </div>
{% endblock%}
