{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_blog/post-detail.css' %}">
{% endblock %}

{% block title %}
  This post title
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in post_tags %}
        <span>{{ tag.caption }}</span>
      {% endfor %}
    </div>
    <article>
      <img src="{% static 'calories_blog/images/'|add:post.image_name %}" alt="{{ post.title }}"/>
      <address><a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
      <div>
        Last Updated on <time>{{ post.date|date:"d M Y" }}</time>
      </div>
    </article>
  </section>

  <main>
    <p>
      loren ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </main>
{% endblock %}
