{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_blog/post-detail.css' %}">
{% endblock %}

{% block title %}
  This post title
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in post_tags %}
        <span>{{ tag.caption }}</span>
      {% endfor %}
    </div>
    <article>
      <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
      <address><a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
      <div>
        Last Updated on <time>{{ post.date|date:"d M Y" }}</time>
      </div>
    </article>
  </section>

  <main>
{{ post.content|linebreaks }}
  </main>

  <section id="comment-form">
  <h2>Your Comment</h2>
    <form action="{% url 'post-detail-page' post.slug %}" method="post">
    {% csrf_token %}
      <div class="form-control">
        {% for form_field in comment_form %}
          {{ form_field.label_tag }}
          {{ form_field }}
          {{ form_field.errors }}
        {% endfor %}
      </div>
      <button type="submit">Save Comment</button>
    </form>
  </section>

{% endblock %}
