{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'calories_blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'calories_blog/start_page.css' %}">
{% endblock %}

{% block title %} Be Healthy start page {% endblock %}

{% block content %}
  <div>
  <section id="welcome">
    <header>
      <img src="{% static '/images/food_logo.jpg' %}" alt="blog img">
      <h2>Be Healthy</h2>
    </header>
    <p><i>Information About Food I eaten</i></p>
  </section>

  <section id="latest-posts">
    <h2><strong>Food I eat</strong></h2>

    <ul>
      {% include "calories_blog/includes/post.html" %}
    </ul>
  </section>
  </div>
{% endblock %}