body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.navbar {
    background-color: #1b1b1b;
}

.navbar-brand {
    font-size: 24px;
    color: #e9ecef !important;
}

.nav-item a {
    color: #e9ecef !important;
}

.nav-item a:hover {
    color: #a6a6a6 !important;
}

.logo-image {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.dropdown-menu {
    background-color: #343a40;
    border-color: #343a40;
}

.dropdown-item {
    color: #e9ecef;
}

.dropdown-item:hover {
    color: #a6a6a6;
    background-color: #1b1b1b;
}

.nav-item.active > .nav-link {
    color: #ff6600 !important;
}
