h1 {
    color: black;
}

body {
    background-color: #b3b3f3;
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.nav {
    color: white !important;
}
