h1 {
    color: black;
}

body {
    background-color: #b3b3f3;
    /*background-image: url('static/images/calories.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.nav {
    color: white !important;
}

.logo-image {
    width: 75px;
    height: 75px;
    object-fit: contain;
}
