{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'food_information_app/product_information.css' %}">
{% endblock %}

{% block title %}
  Product Information
{% endblock %}

{% block content %}

  <div id="product__information">
    <h1>No paginator dont forget</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Calories</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Carbohydrate</th>
          <th>serving_size</th>
        </tr>
      </thead>
      <tbody>
      {% for product in page_object %}
      <tr>
        <th>{{ forloop.counter}}</th>
        <th>{{ product.name }}</th>
        <th>{{ product.calories }}</th>
        <th>{{ product.protein }}</th>
        <th>{{ product.total_fat }}</th>
        <th>{{ product.carbohydrate }}</th>
        <th>{{ product.serving_size }}</th>
      </tr>
      {% endfor %}
      </tbody>
    </table>


  <!-- Pagination -->
    <div class="pagination">
    <span class="link-step">
      {% if page_object.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_object.previous_page_number }}">Previous</a>
      {% endif %}
    </span>

      <span class="current">
      Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}
    </span>

      {% if page_object.has_next %}
        <a href="?page={{ page_object.next_page_number }}">Next</a>
        <a href="?page={{ page_object.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>

  </div>

{% endblock %}