body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#user-add-food {
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#user-add-food h1 {
    text-align: center;
    color: #4a4a4a;
    font-size: 2em;
}

#user-add-food form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-add-food form label {
    margin-top: 20px;
    color: #333;
    font-size: 1.2em;
}

#user-add-food form input[type="date"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 1em;
}

#user-add-food form button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#user-add-food form button[type="submit"]:hover {
    background-color: #0056b3;
}
