#user-food {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}

tr, th {
    text-align: center;
}

.food_add_button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
}
