body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#update__body__volumes {
    width: 60%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#update__body__volumes h1 {
    text-align: center;
    color: #333;
}

#update__body__volumes form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update__body__volumes form p {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#update__body__volumes form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
}

#update__body__volumes form input,
#update__body__volumes form select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}

#update__body__volumes form input[type="submit"] {
    width: 50%;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

#update__body__volumes form input[type="submit"]:hover {
    background-color: #0056b3;
}
