h1  {
    margin-left: 80px;
    margin-top: 35px;
}

.table {
    width: 15%;
    margin-left: 80px;
    text-align: center;
}

.add_information_button, .update_information_button {
    margin-left: 80px;
    width: 15%;
}

