h1  {
    text-align: center;
    padding: 20px;
}

.table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.add_information_button, .update_information_button {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.body__volumes {
    width: 80%;
    margin: 0 auto;
}

.body__volumes table td, table th {
    padding: 10px;
}

.add__body__volumes_anchor_tag {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.update-link {
    margin-right: 20px;
}

.pagination_measurements {
    text-align: center;
    padding: 20px;
}

.pagination-weight-history {
    padding: 20px;
}

.weight-table-view {
    width: 50%;
    margin-left: 900px;
}
