h1  {
    margin-left: 80px;
    margin-top: 35px;
}

.table {
    width: 15%;
    margin-left: 80px;
    text-align: center;
}

.add_information_button, .update_information_button {
    margin-left: 80px;
    width: 15%;
}

.body__volumes {
    margin-left: 400px;
    margin-top: -565px;
}

.body__volumes table td, table th {
    min-width: 100px;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.add__body__volumes_anchor_tag {
    margin-top: 20px;
    margin-left: 80px;
}

.update-link {
    margin-right: 20px;
}

.pagination_measurements {
    margin-left: 80px;
    margin-top: 20px;
}